
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,300;0,400;0,600;1,400&display=swap');
*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
body{
    font-size: 18px;
   font-family: 'Nunito Sans', sans-serif;

}
.main{
   
    
    display: flex;
    justify-content: center;
}
.signup{
    border: 3px solid darkgreen;
    width: 30rem;
    background-color: rgb(166, 173, 178);
    padding-top: 1.2rem;
    margin-top: 1rem;
    margin: 10rem 5rem;
    box-shadow: 2px 2px 4px 2px rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(10rem);
}
#form-start{
   
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding:  1.2rem 3rem 3rem;
}
 label{
    transition: top 0.3s;
    margin-right: 12rem;
    display: block;
    font-size: 1.4rem;
    font-family: Arial, Helvetica, sans-serif;

}
input{
    width: 20rem;
    height: 2.8rem;
    background-color:  rgb(221, 218, 212);
    outline: floralwhite;
    border-radius: 0.3rem ;
    margin: 0.3rem;
    border: none;
    border-bottom: 0.2rem solid black;
    padding-left: 0.3rem;
    box-shadow: 2px 2px 4px 2px rgba(0, 0, 0, 0.5);
    z-index: 10;
}
input::placeholder
{
    font-size: 1rem ;
    color: rgb(109, 105, 105);

}
input:hover{
    border-bottom: 0.3rem solid rgb(71, 150, 81);
}

.btn{
    width: 20rem;
    height: 3rem;
    font-size: 1.4rem;
    margin-top: 2rem;
    border-radius: 2rem;
    background-color:#1b3f1e;
    color: white;
    box-shadow: 2px 2px 4px 2px rgba(0, 0, 0, 0.5);
}

h1{
    font-size: 2rem;
    margin-left: 4rem;
    color: #1b3f1e;
    font-weight: 500;
    font-style: oblique;
    font-weight: bolder;
}
.btn:hover{
    background-color: rgb(161, 165, 168);
    color: #1b3f1e;
    font-weight: bold;
}